i.fas {
  font-family: 'FontAwesome';
  color: $white;
}

.headshot-gallery {
  text-align: center;
  @include breakpoint(small only) {
    justify-content: center;
  }
}

.headshot-detail {
  margin-bottom: 2.6rem;

  .headshot-detail__wrapper {
    width: 100%;
    position: relative;
    padding-bottom: 100%;
    margin-bottom: 1rem;
    img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }
  }

  .headshot-detail__name {
    height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .student-social {
    display: flex;
    justify-content: center;
  }

  a {
    background-color: $red;
    color: $white;
    border-radius: 100%;
    width: 2.5rem;
    padding: 0.5rem 0.2rem;
    text-align: center;
    height: 2.5rem;
    text-decoration: none;
    display: block;
    margin-right: 0.6rem;
    &:last-of-type {
      margin-right: 0;
    }

    i {
      font-size: 1.5rem;

      &.fa-linkedin {
        position: relative;
        left: 0.05rem;
      }

      &.fa-github {
        position: relative;
        left: 0.02rem;
      }

      &.fas {
        top: 0.015rem;
        color: $white !important;
      }

      &.fa-linkedin {
        top: 0.01rem;
      }
    }

    &:hover {
      background-color: $yellow;
      color: $white;
    }

    &.social--smaller {
      width: 1.8rem;
      padding: 0.2rem 0.2rem;
      text-align: center;
      height: 1.8rem;
      i {
        font-size: 1.1rem;
      }
    }
  }
}

@media screen and (max-width: 30rem) {
  .student-social {
    a {
      width: 1.9rem;
      padding: 0.2rem 0.2rem;
      height: 1.9rem;
      text-align: center;
      i {
        font-size: 1.2rem;
      }
    }
  }
}
