.non-eu-container {
  // Create a container with centered page content
  // https://get.foundation/sites/docs/xy-grid.html#xy-grid-container
  @include xy-grid-container(700px, 30px);
  padding-top: 30px;
  padding-bottom: 30px;

  .actions {
    border: 1px solid $light-gray;
    padding: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .go-back-container,
  .legal-basis {
    text-align: center;
  }

  .legal-basis {
    display: block;
    color: gray;
  }

  .link {
    display: block;
    text-align: center;

    &--continue {
      margin-top: 1rem;
      font-size: 0.8rem;
      color: #333;
    }
  }
}
