/* shame */

.callout-container {
  position: relative;

  > :first-child {
    position: relative;
    z-index: 1;
  }
}

.callout-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.u-overflow-hidden {
  overflow: hidden;
  display: block;
}

@media screen and (max-width: 50rem) {
  .u-hide-for-medium-down {
    display: none;
  }
}

@media screen and (min-width: 50rem) {
  .u-hide-for-medium-up {
    display: none;
  }
}
